<!DOCTYPE html>
<html>

<head>
	<div class="container">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/useparking/useparking.css">
	
	<div class="header">header</div>
</head>
<body>
<div class="ticket_container">
	<table class="head_table">
		<tr>
		<td>이용중인 주차권</td>
		<td class="td_used">사용된 주차권</td>
		</tr>
		<tr>
			<td>
					<th:block th:each="r : ${ticket}">
			
						<th:block th:if="${r.FINSH == 0}">
						  <div class="used_ticket" >
						    <div class="ticket_header">
						      <img src="img/parking_logo.png" alt="Parking Logo">
						      <h1 class="ticket_title">주차장 이용권</h1>
						    </div>
						    <div class="ticket-details">
						     	 
									<p class="car_num">[[${r.CAR_NUM}]]</p>
								    <p class="parking_address">[[${r.ADDRESS}]]</p>
							</div>
						   </div>
					  </th:block>
					</th:block>
			</td>
			<td>
				<th:block th:each="r : ${ticket}">
						<th:block th:if="${r.FINSH == 1}">
						  <div class="used_ticket" >
						    <div class="ticket_header">
						      <img src="img/parking_logo.png" alt="Parking Logo">
						      <h1 class="ticket_title">주차장 이용권</h1>
						    </div>
						    <div class="ticket-details">
						     	 
									<p class="car_num">[[${r.CAR_NUM}]]</p>
								    <p class="parking_address">[[${r.ADDRESS}]]</p>
							</div>
						    </div>
						  </th:block>
					  </th:block>
			</td>
		</tr>
	</table>
		
	 <div class="share_container">
	 <p class="share">공유중인 주차장</p>
	 	 <th:block th:each="parking : ${parking_list}">
    <div class="parking-details">
      <h4>주소</h4>
      <p class="address">[[${parking.address}]]</p>
      
      <h4>주차면수</h4>
      <p class="area">[[${parking.parkSize}]]</p>
      
      <h4>30분당 주차요금</h4>
      <p class="cost">[[${parking.price}]]</p>
      
      <h4>주차장 설명</h4>
      <p class="explain">[[${parking.parkDescription}]]</p>
    </div>
    </th:block> 
  	
  </div>
  
   <div class="buttons">
    <button class="btn_home" onclick="location.href='http://localhost:9999/cancel'">홈으로</button>
    <button class="btn_cancel">취소신청</button>
  </div>
	</div>
</body>
	</div>
</html>